.about-title {
  font-size: 1.5em;
  padding: 2rem 3rem .5rem 0;
  line-height: 1.6em;
  margin: 0;
}

.about-content {
  width: 100%;
  font-size: .9em;
}

@media all and (min-width: 768px) {
  .about-title {
    font-size: 1.75em;
    padding: 2rem 10rem .5rem 0;
    line-height: 1.6em;
  }

  .about-content {
    width: 100%;
    font-size: 1em;
  }
}

@media all and (min-width: 992px) {
  .about-title {
    font-size: 2em;
    padding: 4rem 10rem 1rem 0;
    line-height: 1.6em;
  }

  .about-content {
    width: 100%;
    font-size: 1.1em;
  }
}