
nav {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#nav-links {
  font-size: 0.9em;
}

#nav-links ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#nav-links ul li {
  margin-right: 1em;
  margin-bottom: 0em;
}

a {
  color: #4C5452;
  text-decoration: none;
  border-bottom: 2px solid #1ACF8D;
}

a:hover {
  text-decoration: none;
}

.logo {
  padding: 0;
  margin: 0 0 1em 0;
}

.logo a {
  padding: 0;
}

.logo a:hover {
  text-decoration: none;
}

.logo h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #1ACF8D;
}

/* Tablet Menu */
@media all and (min-width: 768px) {
  .nav {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .logo h1 {
    font-size: 2.25rem;
  }

  #nav-logo {
    width: 55%;
  }

  .logo h1 {
    font-size: 2.25rem;
    margin-bottom: 0em;
    color: #1ACF8D;
    padding: 0;
  }

  #nav-links {
    width: 45%;
    font-size: 0.9em;
  }
}

/* Large: min-width 992px  - container max-width: 800px */
@media all and (min-width: 992px) {
  .nav {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin: 0;
  }

  #nav-logo {
    width: 55%;
  }

  .logo h1 {
    font-size: 2.75rem;
    margin-bottom: 0;
    color: #1ACF8D;
    padding: 0;
  }

  #nav-links {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;
  }
}